* {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    list-style-type: none;
}

a:link,
a:visited {
    color: #FF5722;
    text-decoration: none;
}

a:link:hover,
a:visited:hover {
    text-decoration: underline;
}

nav {
    padding-bottom: 6rem;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    line-height: 3rem;
    padding: 0 1rem;
    font-size: 1.35rem;
}

nav ul li.oppose {
    float: right;
    font-size: 1.75rem;
}

nav a:link,
nav a:visited {
    color: white;
    text-decoration: none;
}

nav ul li:first-child {
    font-size: 2rem;
    vertical-align: sub;
}

nav img {
    height: 3rem;
    margin-bottom: -0.75rem;
    margin-right: 0.5rem;
}

html {
    overflow-x: hidden;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-size: 8px;
    font-weight: 300;
    overflow-x: hidden;
    position: relative;

    --elevation-flat: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
    --elevation-0: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
    --elevation-1: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    --elevation-2: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    --elevation-3: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
    --elevation-4: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    --elevation-5: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
    --elevation-6: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
    --elevation-7: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);
    --elevation-8: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    --elevation-9: 0px 5px 6px -3px rgba(0, 0, 0, 0.2), 0px 9px 12px 1px rgba(0, 0, 0, 0.14), 0px 3px 16px 2px rgba(0, 0, 0, 0.12);
    --elevation-10: 0px 6px 6px -3px rgba(0, 0, 0, 0.2), 0px 10px 14px 1px rgba(0, 0, 0, 0.14), 0px 4px 18px 3px rgba(0, 0, 0, 0.12);
    --elevation-11: 0px 6px 7px -4px rgba(0, 0, 0, 0.2), 0px 11px 15px 1px rgba(0, 0, 0, 0.14), 0px 4px 20px 3px rgba(0, 0, 0, 0.12);
    --elevation-12: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.12);
}

header {
    background-image: url('../img/network.svg'), radial-gradient(circle farthest-corner at right bottom, rgb(255, 61, 0) 0, rgb(61, 58, 244) 90%), url('../img/network.svg');
    background-size: cover;
    position: relative;
    padding-top: 2rem;
    padding-bottom: 13rem;
    margin-bottom: -3rem;
    mask: linear-gradient(black 60%, rgba(0, 0, 0, 0.75) 75%, transparent);
}

footer {
    background-color: #333;
    padding: 3rem;
    margin-top: 6rem;
}

.colored {
    padding-top: 4rem;
    padding-bottom: 6rem;
}

.colored.gray {
    border-top: 1px solid #e5eff5;
    border-bottom: 1px solid #e5eff5;
    background: #f8fafc;
}

.colored.green {
    background: radial-gradient(circle farthest-corner at right bottom, rgb(65, 63, 181) 0, rgb(25, 185, 97) 100%);
}

.colored.pink {
    background: radial-gradient(circle farthest-corner at right bottom, rgb(80, 25, 176) 0, rgb(235, 52, 198) 100%);
}

.colored.forest {
    background: radial-gradient(circle farthest-corner at right bottom, rgb(92, 175, 28) 0, rgb(11, 53, 19) 100%);
}

.colored.purple {
    background: radial-gradient(circle farthest-corner at right bottom, #6f2ba7 0, rgb(65, 63, 181) 100%);
}

a.button i,
.dark .flex div>i,
.dark h1,
.dark h2,
.dark h3,
.dark p {
    color: white;
}

h1,
h3,
h4 {
    text-align: center;
}

h1 {
    font-size: 3rem;
    font-weight: 500;
    padding: 1rem 0;
    color: #333;
    font-family: "Momo Trust Display", sans-serif;
}

h1.main {
    font-size: 3.5rem;
}

h3 {
    font-size: 1.6rem;
    opacity: 0.7;
    padding-bottom: 3rem;
}

h4 {
    font-size: 1.2rem;
    opacity: 0.7;
}

h2 {
    font-size: 1.7rem;
    line-height: 2.2rem;
    font-weight: 400;
    padding: 1rem 0;
    color: #333;
}

p {
    font-size: 1.3rem;
    font-weight: 300;
    padding: 0.5rem 0;
    color: #333;
}

b {
    font-weight: bold;
}

.text-center {
    text-align: center;
}

.flex {
    display: grid;
    grid-template-columns: 50% 50%;

    margin: 0 auto;
    max-width: 1030px;
}

.flex.third {
    grid-template-columns: 33.33% 33.33% 33.33%;
}

.flex.full {
    grid-template-columns: 100%;
}

.flex>div {
    padding: 0 1rem;
    position: relative;
}

.flex>div.centered {
    display: flex;
    align-items: center;
}

.flex>div.centered content div {
    max-width: 30rem;
}

.flex div>i {
    color: #333;
    opacity: 0.7;
    line-height: 4.25rem;
    font-size: 2rem;
    position: absolute;
    padding: 0 0.5rem;
    width: 2rem;
    text-align: center;
}

.flex div>i~h2,
.flex div>i~p,
.flex div>i~a {
    padding-left: 4rem;
}

.flex div>i~h2 {
    font-size: 1.5rem;
    padding-bottom: 0;
}

@media screen and (max-width: 1024px) {
    .flex {
        grid-template-columns: 100%;
    }

    .flex.third {
        grid-template-columns: 50% 50%;
    }

    .on_desktop {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .flex.third {
        grid-template-columns: 100%;
    }

    #stories .phone {
        mask-image: linear-gradient(to bottom, black, black 20%, transparent 70%, transparent);
    }
}

/* Devices inspired by https://ghost.org/fr/features/ */

.phone {
    background-color: red;
    padding: 0.75rem;
    background: #020202;
    border: 1px solid #101315;
    border-radius: 2rem;
    box-shadow: inset 0 0 4px 2px #3f4245, inset 0 0 0 6px #131518;
    width: 20rem;
    position: relative;
}

.phone .icons {
    color: white;
    font-size: 0.8rem;
    position: absolute;
    top: 0.75rem;
    left: 3.25rem;
    padding-right: 1rem;
    line-height: 2.5rem;
    font-weight: bold;
}

.phone .icons.oppose {
    left: auto;
    right: 0.75rem;
}

.phone:before {
    display: block;
    content: '';
    height: 2.5rem;
    width: 100%;
    background-color: black;
    border-radius: 1.25rem 1.25rem 0 0;
}

.phone::after {
    display: block;
    content: '';
    height: 1rem;
    width: 1rem;
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    background: radial-gradient(farthest-corner at 20% 20%, #46558c 0, transparent 40%), radial-gradient(farthest-corner at 80% 80%, #2f1f50 0, #16393f 20%, black 50%);
    border-radius: 1rem;
    box-shadow: 0 0 1px 1px rgba(255, 255, 255, .05);
    border: 0.25rem solid black;
    box-sizing: border-box;
}

.phone .screen {
    position: relative;
    padding-bottom: 1.5rem;
}

.phone .screen img {
    max-width: 100%;
    border-radius: 0.5rem;
    overflow: hidden;
}

.phone .screen:before {
    display: block;
    content: '';
    background-color: white;
    width: 5rem;
    opacity: 0.6;
    height: 0.25rem;
    border-radius: 1rem;
    position: absolute;
    bottom: 0.5rem;
    left: calc(50% - 2.5rem);
}

.phone .screen:after {
    display: block;
    content: '';
    background: #1b1721;
    border-radius: 2px;
    height: 7rem;
    position: absolute;
    right: -0.94rem;
    top: 5.5rem;
    width: 0.15rem;
}

.mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 8px;
    width: 210px;
    background: radial-gradient(circle farthest-corner at right bottom, #e7ecee 0, #f5f7f8 100%);
    border-radius: 19px;
    box-shadow: inset 0 0 0 1px hsla(0, 0%, 100%, .5), 0 0 1px rgba(0, 0, 0, .2), 0 2px 4px rgba(0, 0, 0, .15);
}

.mobile div.screen {
    border: 1px solid #e9f0f3;
}

.mobile:before,
.mobile:after {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .05), inset 0 1px 0 rgba(0, 0, 0, .05), inset 0 0 0 1px rgba(0, 0, 0, .01), 0 1px 0 #fff;
}

.mobile:before {
    display: block;
    content: '';
    width: 30px;
    height: 5px;
    background: linear-gradient(180deg, #bdcad1 0, #dee5e8);
    border-radius: 5px;
    margin: 1.2rem;
}

.mobile:after {
    display: block;
    content: '';
    margin: 7px 0 9px;
    width: 25px;
    height: 25px;
    background: linear-gradient(180deg, #e1e7ea 0, #f9fafb);
    border-radius: 100%;
}

.desktop {
    width: 900px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 0 1px rgba(0, 0, 0, .35), 0 2px 4px rgba(0, 0, 0, .15);
    overflow: hidden;
}

.desktop:before {
    content: '';
    display: flex;
    align-items: center;
    padding: 0 8px;
    height: 24px;
    background: #f5f7f8;
    box-shadow: inset 0 -1px 0 #e7e8ea, inset 0 1px 0 hsla(0, 0%, 100%, .26);
}

.mobile.dark,
.desktop.dark:before {
    background: #141a21;
    box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, .3);
}

.desktop .buttons {
    position: absolute;
}

.desktop div.screen img,
.mobile div.screen img {
    max-width: 100%;
    display: block;
}

.mobile div.screen img {
    border-radius: 0.1rem;
}

.desktop .buttons:before,
.desktop .buttons:after {
    content: '';
    width: 8px;
    height: 8px;
    border: 1px solid #d1dfe6;
    background: rgba(0, 0, 0, .03);
    border-radius: 6px;
    display: inline-block;
    position: relative;
    top: -16px;
    margin-left: 8px;
}

.mobile.dark:before,
.mobile.dark:after,
.desktop.dark .buttons:before,
.desktop.dark .buttons:after {
    border: 0;
    background: #111;
}

.mobile.dark div.screen {
    border: 1px solid #303030;
}

.mobile.dark:before,
.mobile.dark:after {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .05), inset 0 1px 0 rgba(0, 0, 0, .05), inset 0 0 0 1px rgba(0, 0, 0, .01), 0 1px 0 #303030;
}

.desktop .buttons:after {
    margin-left: 6px;
}

/* Button */
a.button {
    color: white;
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 1.75rem;
    padding: 1.25rem 2.75rem;
    display: inline-block;
    border-radius: 2rem;
    margin: 0.75rem;
    backdrop-filter: blur(0.5rem);
    box-shadow: var(--elevation-2);

    transition-property: background-color, box-shadow;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .3s;
}

a.button i {
    display: inline;
    margin-right: 0.75rem;
    line-height: 2rem;
    margin-left: -0.5rem;
}

a.button:hover {
    box-shadow: var(--elevation-3);
    background-color: rgba(255, 255, 255, 0.1);
    text-decoration: none;
}

a.button.main {
    background-color: rgba(64, 60, 179, 0.9);
    border: 1px solid rgba(110, 110, 220, 0.3);
}

a.button.main:hover {
    background-color: rgba(64, 60, 179, 1);
}

/* Carousel */
.carousel {
    position: relative;
}

.carousel>* {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.carousel>*:nth-child(1) {
    position: relative;
    opacity: 1;
}

.carousel>*:nth-child(2) {
    animation: fade2 10s infinite;
}

@keyframes fade2 {
    30% {
        opacity: 0
    }

    36% {
        opacity: 1
    }

    70% {
        opacity: 1
    }

    71% {
        opacity: 0
    }
}

.carousel>*:nth-child(3) {
    animation: fade3 10s infinite;
}

@keyframes fade3 {
    63% {
        opacity: 0
    }

    69% {
        opacity: 1
    }

    97% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}